**/.DS_Store
**/.dockerignore
**/.env
**/.envrc
**/.git
**/.github
**/.gitignore
**/.bundle
**/bin
**/Dockerfile*
**/docker-compose*
**/docker-stack*
**/tmp*
**/.pre-commit-config.yaml
**/.bumpversion.toml
**/.tm_properties
**/Gemfile
**/Gemfile.lock
**/ruby-vendor
**/Rakefile
**/.golangci.yml
**/rubocop.yml
**/CODE_OF_CONDUCT.md
**/CONTRIBUTING.md
**/SECURITY.md
**/README.md
**/DEVELOPMENT.md
**/SEQUENCE_DIAGRAMS.md
**/LICENSE
**/scripts
